@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;700&display=swap');
* {
    overflow: none;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'JetBrains Mono';
    color: white;
}


/*Navabar*/

.navigation-bar {
    font-size: 1.2rem;
    font-weight: 400;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(to left, rgb(12, 124, 236), rgb(137, 218, 238));
    list-style-type: none;
    gap: 20px;
    padding: 20px 20px 0 0;
}

.navigation-bar a {
    color: white;
}

.navigation-bar a:hover {
    text-decoration: none;
}

#contact span {
    background-color: white;
    color: rgb(68, 150, 233);
    border-radius: 50px;
    padding: 3px 20px 3px 20px;
    text-decoration: underline rgb(68, 150, 233);
}

#contact span:hover {
    text-decoration: none;
}


/* nav li+li::before {
    content: ' ';
} */


/*Header*/

header {
    min-height: 100vh;
    font-size: 1.05rem;
    position: relative;
    background-image: linear-gradient(to left, rgb(12, 124, 236), rgb(137, 218, 238));
    width: 100%;
}

.custom-shape-divider-bottom-1653210462 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1653210462 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 479px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1653210462 .shape-fill {
    fill: #FFFFFF;
}

.home {
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 200px;
    width: 75vw;
    margin: 0 17.5vw;
}


/*Texts*/

h1 {
    font-size: 75px;
    text-align: center;
}

p {
    font-size: 45px;
    text-align: center;
}


/*About*/

.names {
    display: flex;
    /* margin: 70px; */
    justify-content: center;
    /* align-items: center; */
}

.about {
    /* margin-top: 100px; */
    color: black;
}

#about {
    font-size: 45px;
    font-weight: 700;
    margin-top: 50px;
}

.aboutus {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(137, 218, 238);
    font-size: 1.9rem;
    font-weight: 700;
    box-shadow: 8px 8px 4px rgba(191, 191, 191, 0.366);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 50px;
    text-align: center;
}

.names div p {
    font-size: 0.9rem;
    margin-bottom: 80px;
}


/*Portfolio*/

.portfolio {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 100px;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;
}

.projects div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects section {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-top: 40px;
}


/*Footer*/

footer {
    background-image: linear-gradient(to left, rgb(12, 124, 236), rgb(137, 218, 238));
    height: 400px;
}

#contactus {
    font-size: 75px;
}

#footer {
    font-size: 22px;
}

.text {
    margin-left: 0;
}


/*Form*/

.form {
    padding: 30px 0 30px 0;
    right: 10px;
    width: 30%;
    /* border-radius: 15px; */
    opacity: 0.6;
}

#name,
#email,
#subject,
#message,
#submit {
    border-radius: 5px;
    border: none;
    margin: 5px 0 5px 0;
}

#name::placeholder,
#email::placeholder,
#subject::placeholder,
#submit::placeholder,
#message::placeholder {
    opacity: 0.5;
}

#name,
#email,
#subject,
#submit {
    height: 200px;
}

#message {
    height: 700px;
}

#submit {
    height: 200px;
    background-color: rgb(179, 229, 241);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(79, 203, 190) !important;
}